<a href="https://colab.research.google.com/github/SShalini24/Credit-Card-Transaction-/blob/main/Credit_Card_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [127]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import warnings 
warnings.filterwarnings('ignore')

In [128]:
# Loading the Dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [129]:
# printing the first five rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [130]:
# printing last five rows of the dataset
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
77333,57003,-1.565835,0.537575,3.284121,3.229021,-0.917761,2.016339,-1.157749,1.086392,0.234172,...,0.125678,1.072830,-0.229837,0.094444,0.215087,0.544487,0.271867,-0.089124,25.69,0.0
77334,57005,-0.710264,-0.095320,2.899716,0.718612,-0.501955,0.968641,-0.007123,0.308006,1.383339,...,0.069589,0.711129,-0.038570,0.088990,-0.282553,-0.448201,0.054450,-0.051693,65.00,0.0
77335,57005,0.875729,-0.658494,-0.798643,-0.889801,-0.205406,-1.093946,0.743501,-0.381269,0.405087,...,0.192299,0.161282,-0.451218,0.060376,0.885705,-0.477421,-0.036297,0.035704,235.53,0.0
77336,57006,-0.679923,1.074176,1.045563,1.100620,-0.764069,-1.048969,0.601586,0.283135,-0.674820,...,0.256539,0.475028,0.124473,0.886947,-0.327076,-0.362904,0.017048,0.109040,73.52,0.0
77337,57006,1.380239,-1.328341,1.488601,-1.259442,-2.253642,-0.193980,-1.799733,0.139147,-1.245753,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [131]:
# getting the dataset information 
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77338 entries, 0 to 77337
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    77338 non-null  int64
 1   V1      77338 non-null  float64
 2   V2      77338 non-null  float64
 3   V3      77338 non-null  float64
 4   V4      77338 non-null  float64
 5   V5      77338 non-null  float64
 6   V6      77338 non-null  float64
 7   V7      77338 non-null  float64
 8   V8      77338 non-null  float64
 9   V9      77338 non-null  float64
 10  V10     77338 non-null  float64
 11  V11     77338 non-null  float64
 12  V12     77338 non-null  float64
 13  V13     77338 non-null  float64
 14  V14     77337 non-null  float64
 15  V15     77337 non-null  float64
 16  V16     77337 non-null  float64
 17  V17     77337 non-null  float64
 18  V18     77337 non-null  float64
 19  V19     77337 non-null  float64
 20  V20     77337 non-null  float64
 21  V21     77337 non-null  float64
 22  V22     77337 non-null  float64
 23  V23     77337 non-null  float64
 24  V24     77337 non-null  float64
 25  V25     77337 non-null  float64
 26  V26     77337 non-null  float64
 27  V27     77337 non-null  float64
 28  V28     77337 non-null  float64
 29  Amount  77337 non-null  float64
 30  Class   77337 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 18.3 MB

In [132]:
  # checking the number of missing values in each column
  credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [133]:
# dropping the missing values 
credit_card_data = credit_card_data.dropna()

In [134]:
# rechecking the missing values 
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [135]:
# distributions of the legit transactions and fradulant transactions 
credit_card_data['Class'].value_counts()

0.0    77149
1.0      188
Name: Class, dtype: int64

This Data is Highly Unbalanced

In this data :

0--> Represents the Normal Transactions 

1--> Represents the Fradulant Transcations

In [136]:
# seperating the data for analysis

legit = credit_card_data[credit_card_data.Class==0]
fraud = credit_card_data[credit_card_data.Class ==1]

In [137]:
print(legit.shape)
print(fraud.shape)

(77149, 31)
(188, 31)

In [138]:
# statistical measures for the legit data 
legit.Amount.describe()

count    77149.000000
mean        97.625867
std        270.623024
min          0.000000
25%          7.690000
50%         26.800000
75%         89.000000
max      19656.530000
Name: Amount, dtype: float64

In [139]:
# statistical measures for the fraud data
fraud.Amount.describe()

count     188.000000
mean       94.292500
std       214.093799
min         0.000000
25%         1.000000
50%         7.550000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [140]:
# Compare the values for both  transactions 
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,36643.938353,-0.239252,-0.043518,0.701351,0.152168,-0.264608,0.10159,-0.097359,0.046639,0.005268,...,0.042235,-0.030677,-0.105246,-0.038271,0.007363,0.134344,0.025494,0.000766,0.002836,97.625867
1.0,32055.739362,-6.692335,4.711159,-8.903156,5.250821,-4.905270,-2.04085,-7.040342,3.194879,-3.137542,...,0.374793,0.797237,-0.171993,-0.229811,-0.084322,0.242355,0.097236,0.586565,0.050794,94.292500

Under-Sampling

Build a sample dataset contaning similer distributions for Normal Transactions and Fraud Distributions

Number of Fradulant Transactions -- 103

In [141]:
legit_sample = legit.sample(n=103)

Concatinating the 2 DataFrame

In [142]:
new_dataset = pd.concat([legit_sample,fraud],axis=0)

In [143]:
# printing the first five rows of the new dataset
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
57448,47915,-0.602299,0.331683,2.844918,0.366700,0.267533,1.869438,0.080737,0.239820,0.454700,...,0.046125,0.794036,-0.086993,-0.585689,-0.635345,0.434377,-0.264081,-0.348280,11.50,0.0
22048,32004,-1.433205,-1.453498,2.551375,-1.430088,-0.480554,-0.679729,-0.955851,0.334724,-0.985441,...,0.113344,0.232566,0.291660,0.334933,-0.359454,0.942480,-0.011942,0.129314,103.31,0.0
47261,43153,-2.086016,2.203265,1.654339,2.941050,-1.683045,0.529728,-1.352162,1.793449,-0.723686,...,0.216444,0.567241,-0.035345,0.370201,0.157378,0.440341,0.210230,0.090558,0.76,0.0
61578,49898,-0.365647,0.999709,1.036394,-0.465575,0.683863,0.210721,0.627803,0.128954,-0.661004,...,-0.255036,-0.676066,-0.200181,-1.007333,-0.023478,0.134284,0.262889,0.098846,5.78,0.0
22631,32349,-14.247180,8.229567,-13.981413,2.301040,-8.815038,-2.877142,-5.995690,9.418215,0.115467,...,-0.021301,-1.381229,-0.488268,0.097898,0.780247,-0.353358,-0.225190,-0.350797,89.99,0.0

In [144]:
# checking the distributions in the new data
new_dataset['Class'].value_counts()

1.0    188
0.0    103
Name: Class, dtype: int64

In [145]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,34858.873786,-0.745757,0.051361,0.760636,0.167246,-0.08431,0.197919,-0.353357,0.162471,0.128220,...,0.131645,0.084192,-0.090930,-0.011688,-0.048053,0.154159,0.061521,-0.023845,0.005546,79.651359
1.0,32055.739362,-6.692335,4.711159,-8.903156,5.250821,-4.90527,-2.040850,-7.040342,3.194879,-3.137542,...,0.374793,0.797237,-0.171993,-0.229811,-0.084322,0.242355,0.097236,0.586565,0.050794,94.292500

Splitting the data into Features and Target

In [146]:
x = new_dataset.drop('Class',axis=1)
y = new_dataset.Class

In [147]:
print(x)

        Time         V1        V2         V3        V4        V5        V6  \
57448  47915  -0.602299  0.331683   2.844918  0.366700  0.267533  1.869438
22048  32004  -1.433205 -1.453498   2.551375 -1.430088 -0.480554 -0.679729
47261  43153  -2.086016  2.203265   1.654339  2.941050 -1.683045  0.529728
61578  49898  -0.365647  0.999709   1.036394 -0.465575  0.683863  0.210721
22631  32349 -14.247180  8.229567 -13.981413  2.301040 -8.815038 -2.877142
...      ...        ...       ...        ...       ...       ...       ...
75511  56098  -1.229669  1.956099  -0.851198  2.796987 -1.913977 -0.044934
76555  56624  -7.901421  2.720472  -7.885936  6.348334 -5.480119 -0.333059
76609  56650  -8.762083  2.791030  -7.682767  6.991214 -5.230695 -0.357388
76929  56806   0.016828  2.400826  -4.220360  3.462217 -0.624142 -1.294303
77099  56887  -0.075483  1.812355  -2.566981  4.127549 -1.628532 -0.805895

             V7        V8        V9  ...       V20       V21       V22  \
57448  0.080737  0.239820  0.454700  ...  0.043255  0.046125  0.794036
22048 -0.955851  0.334724 -0.985441  ...  0.023122  0.113344  0.232566
47261 -1.352162  1.793449 -0.723686  ...  0.079002  0.216444  0.567241
61578  0.627803  0.128954 -0.661004  ...  0.198124 -0.255036 -0.676066
22631 -5.995690  9.418215  0.115467  ...  0.145723 -0.021301 -1.381229
...         ...       ...       ...  ...       ...       ...       ...
75511 -1.340739 -0.555548 -1.184468  ...  0.270459  1.208054  0.277612
76555 -8.682376  1.164431 -4.542447  ... -0.614719  0.077739  1.092437
76609 -9.685621  1.749335 -4.495679  ... -0.460390 -0.090527  0.348590
76929 -2.986028  0.751883 -1.606672  ...  0.590418  0.285832 -0.771508
77099 -3.390135  1.019353 -2.451251  ...  0.338598  0.794372  0.270471

            V23       V24       V25       V26       V27       V28  Amount
57448 -0.086993 -0.585689 -0.635345  0.434377 -0.264081 -0.348280   11.50
22048  0.291660  0.334933 -0.359454  0.942480 -0.011942  0.129314  103.31
47261 -0.035345  0.370201  0.157378  0.440341  0.210230  0.090558    0.76
61578 -0.200181 -1.007333 -0.023478  0.134284  0.262889  0.098846    5.78
22631 -0.488268  0.097898  0.780247 -0.353358 -0.225190 -0.350797   89.99
...         ...       ...       ...       ...       ...       ...     ...
75511  0.019266  0.508529 -0.201183 -0.249600  0.562239  0.075309  170.92
76555  0.320133 -0.434643 -0.380687  0.213630  0.423620 -0.105169  153.46
76609  0.051132 -0.415430  0.219665  0.330020 -0.028252 -0.156270    7.52
76929 -0.265200 -0.873077  0.939776 -0.219085  0.874494  0.470434    1.00
77099 -0.143624  0.013566  0.634203  0.213693  0.773625  0.387434    5.00

[291 rows x 30 columns]

In [148]:
print(y)

57448    0.0
22048    0.0
47261    0.0
61578    0.0
22631    0.0
        ...
75511    1.0
76555    1.0
76609    1.0
76929    1.0
77099    1.0
Name: Class, Length: 291, dtype: float64

Splitting the data into Training and Testing Data

In [149]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,stratify = y,random_state =2)

In [150]:
print(x.shape,x_train.shape,x_test.shape)

(291, 30) (232, 30) (59, 30)

In [151]:
print(y.shape, y_train.shape,y_test.shape)

(291,) (232,) (59,)

Model Training 

Logistic Regression

In [152]:
model = LogisticRegression()

In [153]:
# training the Logistic Regression Model
model.fit(x_train,y_train)

LogisticRegression()

Model Evaluation 

Accuracy Score

In [154]:
# accuracy score on the training data 
x_train_prediction = model.predict(x_train)

In [155]:
acc_train_data = accuracy_score(y_train,x_train_prediction)
print("Accuracy score of training data:",acc_train_data)

Accuracy score of training data: 0.9655172413793104

In [156]:
# accuracy score on the testing data 
x_test_prediction = model.predict(x_test)

acc_test_data = accuracy_score(y_test,x_test_prediction)
print("Accuracy Score of testing data:",acc_test_data)

Accuracy Score of testing data: 0.9491525423728814

Building a Predictive System

In [157]:
input_data = (7519,1.23423504613468,3.0197404207034,-4.30459688479665,4.73279513041887,3.62420083055386,-1.35774566315358,1.71344498787235,-0.496358487073991,-1.28285782036322,-2.44746925511151,2.10134386504854,-4.6096283906446,1.46437762476188,-6.07933719308005,-0.339237372732577,2.58185095378146,6.73938438478335,3.04249317830411,-2.72185312222835,0.00906083639534526,-0.37906830709218,-0.704181032215427,-0.656804756348389,-1.63265295692929,1.48890144838237,0.566797273468934,-0.0100162234965625,0.146792734916988,1)

# changing the input data into a numpy array
input_data_as_array = np.asarray(input_data)

# reshapig the input data
reshaped_input_data = input_data_as_array.reshape(1,-1)

# predicting the input data.
prediction = model.predict(reshaped_input_data)
print(prediction)

if prediction[0]==0:
  print("Ligit Transaction")
else:
  print("Fraud Transaction")

[1.]
Fraud Transaction